body{
	max-width:1200px;
	background-image:url(../images/bolte.png), url(../images/bolta.png);
	background-position:top, bottom;
	background-repeat:repeat-x;
	
}

/*--------------------------nav-----------------------*/

.top{
	font-family: 'Trade Winds', cursive;
	max-width:100%;
	background:#fcd601;
	background-image:url("../images/run.png");
	margin-left:10%;
	border:2px solid #5e051a;
	
}

#top{
	max-width:35%;
	padding:0;
	font-size:300%;
	color:#fff001;
	text-align:center;
	text-shadow:2px 2px 2px #5e051a;
	margin:0.5% 0 0 32%;
}

#bolt{
	max-width:15%;
	margin-left:42.5%;
	margin-top:0;
	margin-bottom:0;
	overflow:hidden;
}

.nav{
	max-width:100%;
	margin:0 auto;
	list-style-type:none;
	padding:0;
	margin-left:8%;
	overflow:hidden;
}

.one{
	background:#fff001;
	background:-webkit-gradient(linear,left top, left bottom, from(#fff001), to(#fb9b03));
	background:-moz-linear-gradient(top, #fff001, #fb9b03);
	filter: progid:DXimageTransform.Microsoft.gradient(startColorstr='#fff001', endColorstr='#fb9b03');
	display:block;
	float:left;
	outline:none;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	padding: .5em 2em .3em;
	margin:0.5%;
	text-shadow:2 2px 2px rgba(0,0,0,.3);
	-ms-border-radius: .5em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	-o-border-radius: .5em;
	-khtml-border-radius: .5em;
	border-radius: .5em;
	-ms-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-khtml-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow:0 1px 2px rgba(0,0,0,.2);
}

.one:hover{
	border-color:#ffcc01;
	background:#fff001;
	text-decoration:none;
}

.one:active{
	position:relative;
	border-color:#fb9b03;
	background:#ffcc01;
}

.one:visited{
	border-color:#e0af04;
}




/*------------------------------nav--------------------------*/

/*-----------------------------content-------------------------*/

#about{
	font-family: 'Trade Winds', cursive;
	margin-left:20%;
	color:#fff001;
	text-shadow:2px 2px 2px #000;
}

.info{
	font-family: 'Happy Monkey', cursive;
	background-color: rgba(255,240,1,0.8);
	-ms-column-count:2;
	-moz-column-count:2;
	-webkit-column-count:2;
	-o-column-count:2;
	-khtml-column-count:2;
	padding:3%;
	margin:2% 5% 2% 15%;
	text-indent:2%;
	border:2px solid #fb9b03;
}

article{
	max-width:100%;
	font-family: 'Happy Monkey', cursive;
	background-color:#fff001;
	-ms-column-count:3;
	-moz-column-count:3;
	-webkit-column-count:3;
	-o-column-count:3;
	-khtml-column-count:3;
	padding:3%;
	margin:2% 5% 2% 15%;
	text-indent:2%;
	border:2px solid #fb9b03;
	clear:both;
}

#gallery{
	max-width:100%;
	font-family: 'Happy Monkey', cursive;
	background-color:#fff001;
	float:left;
	padding:3%;
	margin:2% 5% 2% 15%;
	border:2px solid #fb9b03;
}

.pics li{
	width:20%;
	list-style-type:none;
	float:left;
	margin:2%;
}
	
aside{
	max-width:100%;
	font-family: 'Happy Monkey', cursive;
	background-color:#fff001;
	-ms-column-count:2;
	-moz-column-count:2;
	-webkit-column-count:2;
	-o-column-count:2;
	-khtml-column-count:2;
	padding:3%;
	margin:5% 5% 2% 15%;
	text-indent:2%;
	border:2px solid #fb9b03;
}


.fan{
	max-width:100%;
	border:2px solid #a01923;
	padding:5%;
	margin:50%;
	overflow:hidden;
	text-align:center;	
}



.fans{
	max-width:80%;
	border:2px solid #a01923;
	padding:5%;
	margin:9%;
	text-align:center;	
}

#join{
	font-family: 'Happy Monkey', cursive;
}

footer{
	font-family: 'Happy Monkey', cursive;
	background:#fff001;
	border:2px solid #fb9b03;
	padding:3%;
	margin:2% 5% 2% 15%;
}

#end{
	margin:0 auto;
}

ol li{
	background:#fa9301;
	background:-webkit-gradient(linear,left top, left bottom, from(#fff001), to(#fb9b03));
	background:-moz-linear-gradient(top, #fff001, #fb9b03);
	filter: progid:DXimageTransform.Microsoft.gradient(startColorstr='#fff001', endColorstr='#fb9b03');
	display:block;
	float:left;
	outline:none;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	padding: .5em 2em .3em;
	margin:0.5%;
	text-shadow:2 2px 2px rgba(0,0,0,.3);
	border:2px solid #a01923;
	-ms-border-radius: .5em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	-o-border-radius: .5em;
	-khtml-border-radius: .5em;
	border-radius: .5em;
	-ms-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-khtml-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow:0 1px 2px rgba(0,0,0,.2);
}

ol li:hover{
	border-color:#ffcc01;
	background:#fb9b03;
	text-decoration:none;
}

ol li:active{
	position:relative;
	border-color:#fb9b03;
	background:#ffcc01;
}

ol li:visited{
	border-color:#e0af04;
}
		
/*-----------------------------images-----------------------*/

/*----------------heroes----------------------*/

.pics img{
	background:#ff0101;
	border:3px solid #a01923;
	padding:0;
	margin:0;
	outline:0;
}


#face{
	max-width:100%;
	background:#ff0101;
	border:3px solid #a01923;
	padding:1% 1.3% 0.3% 0.4%;
	margin:0;
	outline:0;
}

.pics img{
	max-width:100%
}

.pics img:hover{
	border-color:#ff0101;
	background:#fff001;
}

.pics img:active{
	border-color:#fb9b03;
	background:#ffcc01;
}

.pics img:visited{
	border-color:#e0af04;
}

/*---------------heroes-------------------*/

/*---------------villains-----------------*/


#mur img{
	width:90%;
	background:#ff0101;
	border:3px solid #a01923;
	padding:0;
	margin-left:5%;
	outline:0;
}

#mur img{
	max-width:100%
}

#mur img:hover{
	border-color:#ff0101;
	background:#fff001;
}

#mur img:active{
	border-color:#fb9b03;
	background:#ffcc01;
}

#mur img:visited{
	border-color:#e0af04;
}

#heat img{
	width:90%;
	background:#ff0101;
	border:3px solid #a01923;
	padding:0;
	margin-left:5%;
	outline:0;
}

#heat img{
	max-width:100%
}

#heat img:hover{
	border-color:#ff0101;
	background:#fff001;
}

#heat img:active{
	border-color:#fb9b03;
	background:#ffcc01;
}

#heat img:visited{
	border-color:#e0af04;
}

#pot img{
	width:70%;
	background:#ff0101;
	border:3px solid #a01923;
	padding:0;
	margin-left:5%;
	outline:0;
}

#pot img{
	max-width:100%
}

#pot img:hover{
	border-color:#ff0101;
	background:#fff001;
}

#pot img:active{
	border-color:#fb9b03;
	background:#ffcc01;
}

#pot img:visited{
	border-color:#e0af04;
}

#cadabra img{
	width:65%;
	background:#ff0101;
	border:3px solid #a01923;
	padding:0;
	margin-left:5%;
	outline:0;
}

#cadabra img{
	max-width:100%
}

#cadabra img:hover{
	border-color:#ff0101;
	background:#fff001;
}

#cadabra img:active{
	border-color:#fb9b03;
	background:#ffcc01;
}

#cadabra img:visited{
	border-color:#e0af04;
}

#piper img{
	width:70%;
	background:#ff0101;
	border:3px solid #a01923;
	padding:0;
	margin-left:5%;
	outline:0;
}

#piper img{
	max-width:100%
}

#piper img:hover{
	border-color:#ff0101;
	background:#fff001;
}

#piper img:active{
	border-color:#fb9b03;
	background:#ffcc01;
}

#piper img:visited{
	border-color:#e0af04;
}

#cold img{
	width:86.3%;
	background:#ff0101;
	border:3px solid #a01923;
	padding:0;
	margin-left:5%;
	outline:0;
}

#cold img{
	max-width:100%
}

#cold img:hover{
	border-color:#ff0101;
	background:#fff001;
}

#cold img:active{
	border-color:#fb9b03;
	background:#ffcc01;
}

#cold img:visited{
	border-color:#e0af04;
}

#master img{
	width:70%;
	background:#ff0101;
	border:3px solid #a01923;
	padding:0;
	margin-left:5%;
	outline:0;
}

#master img{
	max-width:100%
}

#master img:hover{
	border-color:#ff0101;
	background:#fff001;
}

#master img:active{
	border-color:#fb9b03;
	background:#ffcc01;
}

#master img:visited{
	border-color:#e0af04;
}

#rival img{
	width:80%;
	background:#ff0101;
	border:3px solid #a01923;
	padding:0;
	margin-left:5%;
	outline:0;
}

#rival img{
	max-width:100%
}

#rival img:hover{
	border-color:#ff0101;
	background:#fff001;
}

#rival img:active{
	border-color:#fb9b03;
	background:#ffcc01;
}

#rival img:visited{
	border-color:#e0af04;
}

#grodd img{
	width:77%;
	background:#ff0101;
	border:3px solid #a01923;
	padding:0;
	margin-left:5%;
	outline:0;
}

#grodd img{
	max-width:100%
}

#grodd img:hover{
	border-color:#ff0101;
	background:#fff001;
}

#grodd img:active{
	border-color:#fb9b03;
	background:#ffcc01;
}

#grodd img:visited{
	border-color:#e0af04;
}

#wizard img{
	width:54%;
	background:#ff0101;
	border:3px solid #a01923;
	padding:0;
	margin-left:5%;
	outline:0;
}

#wizard img{
	max-width:100%
}

#wizard img:hover{
	border-color:#ff0101;
	background:#fff001;
}

#wizard img:active{
	border-color:#fb9b03;
	background:#ffcc01;
}

#wizard img:visited{
	border-color:#e0af04;
}

/*------------------villains------------------*/
	
/*-----------------------------images-----------------------*/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/*----------------color swatch--------------------*/
orange #fb9b03
mid orange #fa9301
Yellow #fff001
yellow orange #ffcc01
dark red #a01923
mid yellow #fcd707
mid yellow2 #e0af04
red #ff0101

/*---------------------------------------------------*/