body{
	background-image:url("../images/Gradient-Gray.jpg");
	background-color:#e7e8e9;
	background-repeat:repeat-x;
	max-width:1000px;
	margin:0 auto;
	font-size:100%;
}


h1{
	background-color:#03243e;
	color:#d4d4d4;
	width:40%;
	padding:0 0 0 22%;
	margin:5% 0 3% 0.2%;
}

.job{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
	
}


.paisaje{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;	
}

.panderos{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}

.papi{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}

.elias{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}

.three_girls{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}

.bdegon_tinta{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}

.body{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}

.carelis_portrait{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}

.girl{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}

.grafitti{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}

.horizon{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}

.jibaro{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}

.bo{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}
