body{
	max-width:1200px;
	background-image:url("../images/gradient_blue.jpg");
	background-color:#000;
	background-repeat:repeat-x;	
	margin:0 auto;
}

nav{
	max-width:100%;
	border:2px solid #787575;
	padding:0.5%;
	background-color:rgba(246,225,176,0.6);
	font-family:"merriweather", san-serif;
}

h1{
	margin-left:25%;
}

.palm{
	max-width:100%;
	border:2px solid #000;
	box-shadow:2px 2px 2px #000;
	margin: 5% 15%;
}

.field{
	max-width:100%;
	border:2px solid #000;
	background-color:#d4d4d4;
	padding:1%;
	box-shadow:2px 2px 2px #000;
}

.second{
	border:2px solid #787575;
}

a:hover{
	color:red;
}

div{
	margin:1%;
}

ul li{
	margin:0 1%;
	display:inline;
	list-style-type:none;
}

/* =Media Queries
=======================================================================*/

	/*Tablet Portrait size to standard 1200 (devices and browsers)*/
	@media screen and (min-width:768px ) and ( max-width:1199px ){
	
	body{background-image:url("../images/gradient_wine.jpg");
			background-repeat:repeat-x;
		}
		
	.palm{
		max-width:100%;
		margin:5% 7.5%;
	}
}

	/*Mobile Landscape size to Tablet Portrait(devices and browsers)*/
	@media only screen and (min-width:480px) and (max-width:767px){
	body{background-color:red;}
		
		body{
			background-image:url("../images/gradient_orange.jpg")
		}
		
		.palm{
			width:75%;
			margin:5% 13%;
		}

}

/*Mobile Portrait size to Mobile Landscape size(devices ands browsers)*/
	@media only screen and (max-width:479px){
	
	body{
		background-image:url("../images/gradient_gray.jpg");
		background-color:#e9e9ea;
		background-repeat:repeat-x;
	}
	
	.palm{
		width:75%;
		margin:5% 11%;
	}
	
}