body{
	background-image:url("../images/gradient_gray.jpg");
	background-color:#e7e8e9;
	background-repeat:repeat-x;
	max-width:1000px;
	margin:0 auto;
	font-size:100%;
	line-height:/1.5;
}






h1{
	color:#d4d4d4;
	font:bold 150% "Italiana",cursive,san-seriff;
	/"24px/16px"/
}





h3{
	font:125% "Italiana",cursive,san-seriff;
	/"20px/16px"/
}




h4{
	font:bold 100% "Italiana",cursive,san-seriff;
	/"18px/16px"/
}






.top{
	background-color:#03243e;
	padding:2px;
	margin:5px;
}





.demo_a{
	width:47.5%;/"475px/1000px"/
	border:2px solid #03243e;
	background-color:#0490fc;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-khtml-border-radius:2px;
	box-shadow:3px 3px 3px #03243e;
	-moz-box-shadow:3px 3px 3px #03243e;
	-webkit-box-shadow:3px 3px 3px #03243e;
	-ms-box-shadow:3px 3px 3px #03243e;
	-o-box-shadow:3px 3px 3px #03243e;
	-khtml-box-shadow:3px 3px 3px #03243e;
	padding:5px;
	margin:5px 0 10px 10px;
	float:left;
	font:100% "Judson",serif;
	/"16px"/
}






.demo_b{
	width:47.5%;/"475px/1000px"/
	border:2px solid #03243e;
	background-color:#0490fc;
	border-radius:2px;
	box-shadow:3px 3px 3px #03243e;
	padding:5px;
	margin:5px 10px 10px 0;
	float:right;
	font:100% "Judson",serif;
	/"16px"/

}








div{
	-moz-column-count:3;
	-webkit-column-count:3;
	-ms-column-count:3;
	-o-column-count:3;
	-khtml-column-count:3;
	-moz-column-gap:0.9375em;/"15px"/
	-webkit-column-gap:0.9375em;/"15px"/
	-ms-column-gap:0.9375em;/"15px"/
	-o-column-gap:0.9375em;/"15px"/
	-khtml-column-gap:0.9375em;/"15px"/
	width:80%;/"800px/1000px"/
	border:2px solid #03243e;
	background-color:#0490fc;
	border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-khtml-border-radius:2px;
	box-shadow:3px 3px 3px #03243e;
	padding:0.5%;
	font:100% "Judson",serif;
	/"16px"/

}





.job{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
	/"175px/1000px"/
}



.paisaje{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}




.panderos{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}




.papi{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
}




.elias{
	max-width:17.5%;
	border:2px solid #03243e;
	margin:0.5%;
	
}





.brothers{
	border:2px solid #03243e;
	max-width:100%;
	margin:0.1%;
}





.button{
	width:300%;
	background:#747576;
	list-style-type:none;
	clear:left;
	display:inline;
	border:2px solid #d4d4d4;
	border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-khtml-border-radius:4px;
	font:100%"Gorditas",cursive,san-serif;
	text-shadow:0 2px 2px rgba(4,144,254,0.5);
	margin:0.5%;
	text-align:center;
	cursor:pointer;
}






a{
	text-decoration:none;
	height:10px;
	line-height:10px;
}







ul{
	width:50%;/"500px/1000px"/
	background:#03243e;
	padding:0 3.0% 3.0%;/"15px/500px"/
	overflow:hidden;
	
}






ol{
	width:50%;/"500px/1000px"/
	background:#03243e;
	padding:0 3.0% 3.0%;/"15px/500px"/
	overflow:hidden;
}



a:link{
	color:#035594;
}



a:visited{
	color:#0490fc;
}



a:hover{
	color:#fefefd;
	background:#feef01;
}



a:active{
	color:#03243e;
}


table{
	background-color:#0490fc;
	border-collapse:collapse;
	border:2px solid #03243e;
	box-shadow:3px 3px 3px #03243e;
}

td{
	border:2px solid #03243e;
	padding:0.1%;
	text-align:center;
}

th{
	text-align:left;
	background-color:#03243e;
	color:white;
	padding:0.5%;
}





	/" Tablet Portrait size to standard 1000(devices and browsers) "/
	@media screen and(min-width:768px)and(max-width 999px){
		body{ background-image:url("../images/gradient_wine.jpg");}	
}




	/"Mobile Landscape size to Tablet Portrait(devices and browsers)"/
	@media only screen and(min-width:400px)and(max-width:767px){
body{background-image:url("../images/gradient-orange.jpg");}
	
}




	/"Mobile Portrait size to Mobile Landscape size(devices and browsers)"/
	@media only screen and(max-width:399px){
	body{background-image:url("../images/gradient-lightblue.jpg");}
	section{float:none;}
	.brothers{display:none}
}
	
