



body{
	background-color:#d6d7d8;
	font-family:"Buenard",arial,sans-serif;
	font-size:15px;
	width:1250px;
	margin:0 auto;		

}
h1{
background-color:#a3a3a5;
border:1px solid black;
color:white;
width:300px;
border-radius:2px;
text-align:justify;
padding:2px;
text-indent:30px;
-moz-box-shadow:5px 5px 5px black;
	-webkit-box-shadow:5px 5px 5px black;
	-ms-box-shadow:5px 5px 5px black;
	-o-box-shadow:5px 5px 5px black;
	-khtml-box-shadow:5px 5px 5px black;
	box-shadow:5px 5px 5px black;
}

img{
		
	border:2px solid black;
	border-radius:2px;
	padding:1px;
	-moz-box-shadow:5px 5px 5px black;
	-webkit-box-shadow:5px 5px 5px black;
	-ms-box-shadow:5px 5px 5px black;
	-o-box-shadow:5px 5px 5px black;
	-khtml-box-shadow:5px 5px 5px black;
	box-shadow:5px 5px 5px black;
	
	}
.demo{
	background-color:#7d7d7d;
	border:1px solid black;
	border-radius:2px;
	-moz-box-shadow:5px 5px 5px black;
	-webkit-box-shadow:5px 5px 5px black;
	-ms-box-shadow:5px 5px 5px black;
	-o-box-shadow:5px 5px 5px black;
	-khtml-box-shadow:5px 5px 5px black;
	box-shadow:5px 5px 5px black;
	padding-left:15px;
	

	}
.demo1{
	background-color:#7d7d7d;
	border:1px solid black;
	border-radius:2px;
	width:275px;
	-moz-box-shadow:5px 5px 5px black;
	-webkit-box-shadow:5px 5px 5px black;
	-ms-box-shadow:5px 5px 5px black;
	-o-box-shadow:5px 5px 5px black;
	-khtml-box-shadow:5px 5px 5px black;
	box-shadow:5px 5px 5px black;
	padding-left:15px;
	margin-left:100px;
	

}
.demo2{
	background-color:#7d7d7d;
	border:1px solid black;
	border-radius:2px;
	width:275px;
	-moz-box-shadow:5px 5px 5px black;
	-webkit-box-shadow:5px 5px 5px black;
	-ms-box-shadow:5px 5px 5px black;
	-o-box-shadow:5px 5px 5px black;
	-khtml-box-shadow:5px 5px 5px black;
	box-shadow:5px 5px 5px black;
	padding-left:15px;
	margin-left:100px;
	
}
ul{
	list-style-type:circle;
	margin-left:100px;
	text-decoration:underline;
	
}








h2{
text-shadow: 1px 1px 2px #111;

}

a:link{
	color:#560d03;
	}
a:visited{
	color:#550356;
	}
a:hover{
	color:#2bfd01;
	}
a:active{
	color:#fdfa01;
	}



h5{
text-decoration:underline;
}
