body{
	max-width:1000px;
	background-image:url("../images/Gradient-Gray.jpg");
	background-color:#e7e8e9;
	background-repeat:repeat-x;
	margin:0 auto;
	font:100%/1.5;
}

h1{
	color:#d4d4d4;
	font-family:"Italiana",cursive,san-seriff;
	font-size:1.5em;/"24px/1000px"/
}
h3{
	font-family:"Italiana",cursive,san-seriff;
	font-size:1.25em;/"20px/1000px"/
}
h4{
	font-family:"Italiana",cursive,san-seriff;
	font-size:1.125em;/"18px/1000px"/
}


.top{
	background-color:#03243e;
	padding:2px;
	margin:5px;
}
.demo_a{
	width:47.5%;/"475px/1000px"/
	border:2px solid #03243e;
	background-color:#0490fc;
	border-radius:2px;
	box-shadow:3px 3px 3px #03243e;
	padding:5px;
	margin:5px 10px 10px 0;
	float:left;
	font-family:"Judson",serif;
	font-size:1em;/"16px"/
}
.demo_b{
	width:47.5%;/"475px/1000px"/
	border:2px solid #03243e;
	background-color:#0490fc;
	border-radius:2px;
	box-shadow:3px 3px 3px #03243e;
	padding:5px;
	margin:5px 10px 10px 0;
	float:right;
	font-family:"Judson",serif;
	font-size:1em;/"16px"/

	}

div{
	-moz-column-count:3;
	-moz-column-gap:0.9375em;/"15px"/
	width:80%;/"800px/1000px"/
	border:2px solid #03243e;
	background-color:#0490fc;
	border-radius:2px;
	box-shadow:3px 3px 3px #03243e;
	padding:5px;
	font-family:"Judson",serif;
	font-size:1em;/"16px"/

}

.job{
	width:175px;
	border:2px solid #03243e;
	margin:3px;
}
.paisaje{
	width:175px;
	border:2px solid #03243e;
	margin:3px;
}
.panderos{
	width:175px;
	border:2px solid #03243e;
	margin:3px;
}
.papi{
	width:175px;
	border:2px solid #03243e;
	margin:3px;
}
.elias{
	width:175px;
	border:2px solid #03243e;
	margin:3px;
	
}
.brothers{
	border:2px solid #03243e;
	max-width:100%;
}
.button{
	width:100px;
	background:#747576;
	list-style-type:none;
	clear:left;
	display:inline;
	border:2px solid #d4d4d4;
	border-radius:4px;
	font-family:"Gorditas",cursive,san-serif;
	text-shadow:0 2px 2px rgba(4,144,254,0.5);
	margin:2px;
	text-align:center;
	cursor:pointer;
}
a{
	text-decoration:none;
	height:10px;
	line-height:10px
}

ul{
	width:50%;/"500px/1000px"/
	background:#03243e;
	padding:0 3.0% 3.0%;/"15px/500px"/
	overflow:hidden;
	
}
ol{
	width:50%;/"500px/1000px"/
	background:#03243e;
	padding:0 3.0% 3.0%;/"15px/500px"/
	overflow:hidden;
}
a:link{
	color:#035594;
}
a:visited{
	color:#0490fc;
}
a:hover{
	color:#fefefd;
	background:#feef01;
}
a:active{
	color:#03243e;
}

/" =Media Queries
==================================================================="/
	/"Tablet Portrait size to standard 1490 (devices and browsers)"/
	@media screen and(min-width:1000px)and(max-width 1489px){
		body{
		background-image:url("../images/Gradient_wine.jpg");
		}	
}
	/"Mobile Landscape size to Tablet Portrait(devices and browsers)"/
	@media only screen and(min-width:400px)and(max-width:999px){
	body{
	background-image:url("../images/Gradient-orange.jpg");
	}
	
}
	/"Mobile Portrait size to Mobile Landscape size(devices and browsers)"/
	@media only screen and(max-width:399px){
	body{
	background-image:url("../images/Gradient-lightblue.jpg");
	section{float:none;}
	.brothers{display:none}
	}
	
}